body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.header {
  background-color: #0c0f0e;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.header h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

.nav {
  background-color: #e8f5e9;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-buttons button:hover {
  background-color: #005b4f;
}

.nav a {
  margin: 0 15px;
  color: #0c0f0e;
  text-decoration: none;
}

.nav a:hover {
  color: #00796b;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  margin: 2rem 5rem;
}

.person-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1.5rem;
  margin: 1.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-button a {
  border: #005b4f 2px solid;
  color: #005b4f;
  padding: 0.75em 1.5em;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
}

.container-button {
  padding-right: 0.5rem;
}

.container-button :hover {
  background-color: #005b4f;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-row {
  display: flex;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.div-form {
  margin: 1rem 0;
}

.div-form input[type='password'],
.div-form input[type='text'] {
  padding: 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 50%;
  max-width: 300px;
}

.div-form input[type='password']:focus,
.div-form input[type='text']:focus {
  outline: none;
  border-color: #00796b;
}

.div-form button a {
  text-decoration: none;
  color: white;
}
.div-form button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.div-form button:hover {
  background-color: #005b4f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

ul li a {
  text-decoration: none; /* Remove default hyperlink styling */
  color: #333; /* Text color */
  font-family: Arial, sans-serif; /* Use arial as the main font */
  font-size: 1.2rem; /* Increase font-size slightly */
}

.footer {
  background-color: #0c0f0e;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
