<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>NZ Healthcare | Referral System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="header">
      <img
        src="{% static 'pictures/logo0.png' %}"
        alt="NZ Healthcare Logo"
        width="150px"
        height="150px"
      />
      <h1>Referral System</h1>
    </div>
    <div class="nav">
      <div class="nav-links">
        <a href="home">HOME</a>
        <a href="{% url 'person_list' %}">PEOPLE</a>
        <a href="{% url 'referral_list' %}">REFERRALS</a>
      </div>
      <div class="nav-buttons">
        <a href="{% url 'admin:index' %}">
          <button>Admin Dashboard</button>
        </a>
      </div>
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
    <div class="footer">
      <p>© NZ Healthcare, 2023</p>
    </div>
  </body>
</html>
