{% extends 'base.html' %} {% block content %}
<h2>Referrals</h2>
<ul>
  {% for referral in object_list %}
  <li>
    <a href="{% url 'referral_detail' referral.id %}"
      >{{referral.id}} - {{ referral.person.first_name }}
      {{referral.person.last_name }} - {{referral.referral_date }}</a
    >
  </li>
  {% empty %}
  <li>No referrals found.</li>
  {% endfor %}
</ul>
<div class="pagination">
  <span>
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}
